GEMINI_API_KEY=AIzaSyAEx-ojr46ey5_yn-67b4C4bWrWaRjQ0lQ
PERSIST_DIR=finance-tutor/vector_db
EMBEDDING_MODEL=gemini-embedding-001
LLM_MODEL=gemini-2.5-flash
PERSIST_INDEX_PATH=finance-tutor/vector_db/faiss_index.idx
METADATA_PATH=finance-tutor/vector_db/metadata.json
